*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    background-color: #222831;
    position: relative;
}
header{
    background-color: #AEB7B3;
}
footer{
    background-color: #AEB7B3;
    font-family: sans-serif;
    margin-top: 1.5%;
    padding-top: 1.5%;
    position: absolute;
    width: 100%;
}
.navbar-toggler {
    padding: 0.25rem .5rem;
    width: 3rem;
}
.navbar-nav .nav-link {
    font-weight: bold;
    color: #000000;
}
.navbar-nav .nav-link:hover {
    color: rgb(12, 18, 95);
}
h1 {
    font-family: sans-serif;
    font-size: 32px;
    color:#F26419;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
h2 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: sans-serif;
    font-size: 28px;
    color: #c8d0dd;
    text-align: center;
}
.h2 {
    color: #F26419;
}
.card-img-top {
    height: 200px;
    object-fit: scale-down;
}
.btn{
    width: 200px;
    height: 50px;
}
#imgppal{
    position: relative;
}
h3{
    font-family: sans-serif;
    font-size: 18px;
    color: whitesmoke;
}

form{
    font-family: sans-serif;
    color: #c8d0dd;
}
p{
    color: #c8d0dd;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5%;
}

.copy{
    font-family: sans-serif;
    color: #222831;
}

.receta{
    margin-left: 17.5%;
    padding: 1.5%;
}
.nosotros{
    border: none;
    width: 30%;
    margin-left: 35.75%;
    text-align: left;
    overflow: hidden;
}
.bannernosotros{
    border: 1px,solid, black;
    margin-left: 35.75%;
    margin-top: 2%;
}

.contacto {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

form{
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
}

input, textarea{
    width: 99%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 5px;
}
.product{
    margin-left: 35%;
}

.copy {
    color: #c8d0dd;
}

figcaption {
    color: aliceblue;
    font-weight: bold;
}

.img-fluid {
    height: 300px;
    object-fit: cover;
}